<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="./public/css/general.css" type="text/css">

<style>
.login-header {
	float: right;
	padding: 15px 15px 0 15px;
}
#top-title {
	float: left;
	padding: 15px 15px 0px 15px;
	font-size: 32px;
}
.header {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eee;
	overflow:hidden;
}

body {
        margin: 0;
        }
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        }
        li a {
        display: block;
        color: #000;
        padding: 50px 0 50px 16px;
        text-decoration: none;
        }
        li a.active {
        background-color: #4CAF50;
        color: white;
        }
        li a:hover:not(.active) {
        background-color: #555;
        color: white;
        }
</style>

<title>Budget Tracker</title>